* {
	color: inherit;
	font-size: inherit;
	font-weight: normal;
	box-sizing: border-box;
}
:root {
	--display-reload-btn: none;
	--display-other-form-btns: none;
	--links-visibility: hidden;

	font-size: 12px; /*minimum font size*/
}



/* 337px = 12px * 28 + 1px */
@media only screen and (min-width: 337px) {
	:root {
		font-size: calc(95vw / 28);
	}
}

/* 553px = 12px * 46 + 1px */
@media only screen and (min-height: 553px) and (min-aspect-ratio: 28/46) {
	:root {
		font-size: calc(95vh / 46);
	}
}
/* 552px = 12px * 46 */
@media only screen and (max-height: 552px) and (min-aspect-ratio: 28/46) {
	:root {
		font-size: 12px;
	}
}


@media only screen and (min-width: 337px) and (min-aspect-ratio: 8/10) {
	:root {
		font-size: calc(95vw / 28);
	}
}
@media only screen and (max-width: 336px) and (min-aspect-ratio: 8/10) {
	:root {
		font-size: 12px;
	}
}


@media only screen and (min-width: 601px) and (min-aspect-ratio: 10/8) {
	:root {
		font-size: calc(95vw / 50);
	}
}
@media only screen and (max-width: 600px) and (min-aspect-ratio: 10/8) {
	:root {
		font-size: 12px;
	}
}


@media only screen and (min-height: 289px) and (min-aspect-ratio: 50/24) {
	:root {
		font-size: calc(95vh / 24);
	}
}
@media only screen and (max-height: 288px) and (min-aspect-ratio: 50/24) {
	:root {
		font-size: 12px;
	}
}






body {
	background-image: linear-gradient(to top left, var(--light-blue), var(--dark-blue));
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

	--base-width: 20em;
	--light-blue: #1d86c3;
	--dark-blue: #01273d;

	min-height: 100vh;
	padding: 1em 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
body > * {
	width: 100%;
	margin: 1em 0;
}
#quote-box {
	margin: 0 auto;
}
.row {

	min-width: 24em;
	max-width: 60em;
	padding: 0 1em;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-wrap: wrap;
}
.row > * {
	flex: 0 0 var(--width);
	margin: 0 1em;
}




#pokemon {
	--width: 20em;
	height: 20em;
	border-radius: 2%;
	overflow: hidden;
}
#pokemon img {
	display: block;
	width: 100%;
}











#controls {
	--width: 24em;
	height: 20em;
	color: white;
	background-color: transparent;
}






#text {
	height: 10em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#text h1 {
	font-size: 2em;
	text-align: center;
}
#text p {
	font-size: 0.8em;
	margin: 0;
	text-align: left;
}

#text em {
	font-style: normal;
	color: #ffc107;
}







#panel {
	height: 2em;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}
#panel > * {
	height: 2em;
	border: 0;
	border-radius: 0.2em;
	cursor: pointer;
}
#panel > *:hover {
	box-shadow: 0 0 1em 0.1em #ffffff40;
}
#panel > *:active {
	transform: translateY(0.1em);
}
#panel  *:focus {
	outline: none !important;
	box-shadow: 0 0 1em 0.3em #ffffff40;
}
#panel > button {
	padding: 0.5em 1em;
	line-height: 1em;
	border: 0;
	color: black;
}

#answer {
	display: var(--display-other-form-btns);
	padding: 0.25em;
	background-color: white;
}
#answer > * {
	height: 1.5em;
	padding: 0 0.75em;
	border: 0;
}
#answer input {
	width: 10em;
	color: white;
	background-color: #105983;
}
#answer input::placeholder {
	color: #ffffff80;
}
#answer button {
	line-height: 1.5em;
	color: black;
	background-color: white;
}

#new-quote {
	display: var(--display-other-form-btns);
	background-color: white;
}
#reload {
	display: var(--display-reload-btn);
	color: black;
	background-color: #ffdd5b;
}









#controls footer {
	height: 3em;
	margin-top: 4.6em;
}
#controls a {
	text-decoration: none;
	display: inline-block;
	height: 100%;
}
#controls a * {
	vertical-align: -25%;
}
#controls .share-link {
	visibility: var(--links-visibility);
	font-size: 2em;
	width: 1.5em;
	height: 100%;
	text-align: center;
}
#controls .share-link:hover {
	text-shadow: 0 0 0.2em #ffffffad;
}
#logo {
	float: right;
}
#logo:hover {
	filter: brightness(110%);
}
#logo img {
	height: 3em;
}
